.left-column {
  width: 100%;
  display: grid;
  padding-bottom: 12px;

  @media (min-width: $tablet-width-768) {
    grid-template-columns: 178px 1fr;
    column-gap: 32px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}