.specs {
  border-collapse: collapse;
  border-spacing: 0;

  tbody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 14px;
    row-gap: 12px;

    @media (min-width: $desktop-width-1280) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  tr {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  tr:nth-child(4) {
    @media (min-width: $desktop-width-1280) {
      grid-row: 1/2;
      grid-column: 3/4;
    }
  }

  td {
    padding: 0;
    word-wrap: break-word;
    word-break: break-all;
  }

  td:first-child {
    font-size: 12px;
    line-height: 16px;
  }

  td:last-child {
    font-weight: 500;
    color: $gray-750;
  }
}