// Colors

$black: #000000;
$white: #ffffff;

$gray-40: #F5F4F2;
$gray-50: #F0EEEB;
$gray-100: #E7E4DE;
$gray-300: #B2B0AB;
$gray-400: #989691;
$gray-750: #383736;

$green-20: #F2FAF0;
$green-500: #64B851;

$red-20: #FAF0F0;
$red-500: #EB4B51;

$blue-500: #2794DB;

$primary-500: #FAC62D;
$primary-700: #F0B505;
$primary-800: #E1AB08;

// Viewports

$tablet-width-768: 768px;
$tablet-width-920: 920px;
$desktop-width-1280: 1280px;